<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--/*@thymesVar id="vet" type="guru.springframework.sfgpetclinic.model.Vet"*/-->
    <title>List of Vets</title>
</head>
<body>
<TABLE th:width="800px">
    <thead>
    <tr>Id</tr>
    <tr>First Name</tr>
    <tr>Last Name</tr>
    </thead>
    <tbody>
    <tr th:each="vet:${vets}">
        <td th:text="${vet.id}">1</td>
        <td th:text="${vet.firstName}">John</td>
        <td th:text="${vet.lastName}">George</td>
    </tr>
    </tbody>
</TABLE>
</body>
</html>